.cn-wrapper * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

.cn-wrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all.3s ease;
  -moz-transition: all.3s ease;
  transition: all.3s ease;
}

.opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  transition: border.3s ease;
}

.cn-wrapper li a {
  height: 600px;
  width: 600px;
  position: absolute;
  bottom: -300px;
  right: -300px;
  border-radius: 50%;
  text-align: center;
  padding-top: 110px;
  font-size: 1.18em;
  text-decoration: none;
  color: #000;
  transition-duration: 2s;
}

.cn-wrapper li a:hover {
  background: radial-gradient(300px at 300px 300px, rgba(0,0,0,0) 49%, blue 50%) !important;
}

.cn-wrapper li:nth-child(odd) a {
  background: radial-gradient(300px at 300px 300px, rgba(0,0,0,0) 49%, yellow 50%)
}

.cn-wrapper li:nth-child(even) a {
   background: radial-gradient(300px at 300px 300px, rgba(0,0,0,0) 49%, red 50%)
}

@media screen and (max-width:480px) {
  .cn-wrapper {
    font-size:.68em;
  }

  .cn-wrapper li {
    font-size: 1.52em;
  }
}