.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: all 1s linear;
    opacity: 0;
    font-size: 30px;
}

.page.active {
    opacity: 1;
}

.page-intro.active {
    background: red;
}
.page-skill.active {
    background: green;
}
.page-experience.active {
    background: blue;
}
.page-hobby.active {
    background: pink;
}
.page-contact.active {
    background: yellow;
}