body {
    background-image: url(../../../image/background/honeycomb-bg.jpg);
}

* {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif !important;
}

.wellcometext {
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
}

.wellcometext i.fa {
    font-family: "FontAwesome" !important;
}

.menu {
    padding-top: 100px;
}

.menu img {
    width: 32px;
}