html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

.layer-container {
    width: 100vw;
    height: 400vh;
    overflow: visible;
}

.layer {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    left: 0;
    /* transition: top ease 0.75s; */
}

.layer0 {
    top: 0vh;
    background: red;
}

.layer1 {
    top: 100vh;
    background: blue;
}

.layer2 {
    top: 200vh;
    background: green;
}

.layer3 {
    top: 300vh;
    background: yellow;
}

.layer4 {
    top: 400vh;
}