.page-loi-nhan {
    position: relative;
}

.message-container {
    position: absolute;
    width: 300px;
    min-height: 16vh;
    background: #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    opacity: 0.9;
    z-index: 1;
    transition: all ease 0.5s;
}

.message-container:hover {
    z-index: 2;
}

.message-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.msg-editor {
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    transform: rotate(0deg);
    background-color: #fff;
    z-index: 3;
}

@keyframes fromCenter {
    0% {
        top: calc(50vh - 150px);
        left: calc(50vw - 150px);
        z-index: 3;
    }
    70% {
        top: 0vh;
        left: 100px;
        z-index: 3;
    }
    71% {
        top: 0vh;
        left: 100px;
        z-index: 1;
    }
    100% {
        top: 10vh;
        left: 100px;
        z-index: 1;
    }
}

.msg-editor input,
.msg-editor textarea {
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    background: pink;
    margin-bottom: 5px;
    font-family: 'Sriracha', cursive;
}

.msg-editor input {
    margin-bottom: 5px;
}

.msg-editor textarea {
    margin-bottom: 5px;
    min-height: 15vh
}

.msg-editor button {
    border: none;
    padding: 5px;
    background: aqua;
    color: #fff;
    font-family: 'Sriracha', cursive;
    min-width: 100px;
}

.showAddMessageBtn {
    border: none;
    border-radius: 5px;
    width: 50vw;
    height: 5vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    transition: all ease 0.5s;
    background: rgb(144, 202, 249);
}

.show-msg-wapper {
    position: absolute;
    bottom: 0px;
    border: none;
    border-radius: 5px;
    width: 100vw;
    height: 5vh;
    overflow: visible;
    z-index: 100;
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .showAddMessageBtn {
        width: 100vw;
    }
}