@font-face {
    font-family: 'LSLeaves';
    src: url('../font/LSLeaves.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sippin On Sunshine';
    src: url('../font/SippinOnSunshine.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Autumn Gifts';
    src: url('../font/AutumnGifts.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ToneAndDebs';
    src: url('../font/ToneRegular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

.navigation {
    background: #F1F3F6;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 550px);
    height: 50px;
    z-index: 999;
}

.navigation.home {
    background: rgba(241, 243, 246, 0);
}

.nav-item {
    transition: all 0.5s ease;
    padding: 7px;
    cursor: pointer;
    font-size: 1em;
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: 'Open Sans', sans-serif;
    z-index: 1000;
}

.nav-item img {
    height: 30px;
    border-radius: 100%;
}

.nav-item:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: blue;
}

/* normal */

.nav-item.item-home {
    right: 346px;
}

.nav-item.item-intro {
    right: 296px;
}

.nav-item.item-experience {
    right: 200px;
}

.nav-item.item-interests {
    right: 121px;
}

.nav-item.item-contact {
    right: 50px;
}

/* home */
.navigation.home .nav-item {
    font-size: 3em;
}
.navigation.home .nav-item.item-home {
    top: calc(50vh - 200px);
    right: calc(100vw - 400px);
}

.navigation.home .nav-item.item-intro {
    top: calc(10vh - 25px);
    right: calc(50vw + 130px)
}

.navigation.home .nav-item.item-experience {
    top: calc(30vh - 25px);
    right: calc(50vw - 130px)
}

.navigation.home .nav-item.item-interests {
    top: calc(50vh - 25px);
    right: calc(50vw - 330px);
}

.navigation.home .nav-item.item-contact {
    top: calc(20vh - 25px);
    right: calc(50vw - 330px);
}

.navigation.home img {
    height: 400px;
}

/* text */

.text-spring {
    font-family: 'LSLeaves';
}

.text-summer {
    font-family: 'Sippin On Sunshine';
}

.text-autumn {
    font-family: 'Autumn Gifts';
}

.text-winter {
    font-family: 'ToneAndDebs';
}