.page-intro .brief {
    display: flex;
    padding: 10px;
}

.page-intro .brief .brief-text {
    flex: 1 1 200px;
    padding-right: 15px;
}

.page-intro .brief .brief-text .name {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 15px;
}

.page-intro .brief .brief-text .brief-detail {
    text-align: justify;
}

.page-intro .brief .brief-image {
    flex: 0 0 200px;
}

.page-intro .image-of-me {
    height: 200px;
}

.page-intro .skill {
    padding: 10px;
}

.page-intro .title {
    font-size: 2em;
    padding-bottom: 10px;
    margin: 30px 0;
    border-bottom: 1px dashed #ccc;
}

.page-intro .sub-title {
    font-size: 1.5em;
    margin: 20px 0;
}

.percentage-container {
    flex: 0 0 50%;
    padding: 10px 10px 10px 0;
}

.percentage-group {
    margin: 10px 0 20px 0;
}

.percentage {
    background: pink;
    height: 3px;
    margin: 3px 0;
}

.percentageX {
    background: blue;
    box-shadow: 0 0 5px blue;
    height: 100%;
    border-radius: 5px;
}

.percentage70 {
    width: 70%;
}

.percentage50 {
    width: 50%;
}

.percentage30 {
    width: 30%;
}

.how-container {
    flex: 0 0 50%;
    padding: 10px 10px 10px 30px;
}

.how-container .how-item {
    margin: 10px 0;
    position: relative;
}
.how-container .how-item i {
    margin-right: 10px;
}