.timeline {
    border-left: 10px solid blue;
    padding-left: 50px;
    width: 100%;
    color: #504c4c;
}

.timeline-block {
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px blue;
    position: relative;
    padding: 5px 5px 5px 20px;
    margin-bottom: 30px;
}

.timeline .timeline-block:last-child {
    margin-bottom: 0px;
}

.timeline-block .date {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid blue;
    flex-direction: column;
    font-size: 15px;
}

.timeline-block .date .big {
    font-size: 2em;
    font-weight: bold;
}

.timeline-block .date div {
    margin-bottom: 5px;
}

.timeline-block .content {
    padding-left: 10px;
}

.timeline-block .content .role {
    padding-bottom: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.timeline-block .content .role small {
    font-size: 0.5em;
    font-weight: normal;
}

.timeline-block .content .company {
    padding-bottom: 5px;
}

.timeline-block .content .company i {
    font-size: 10px;
}

.timeline-block .detail {
    padding: 15px 5px 5px 5px;
}

.timeline-block .indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
}

.timeline-block .indicator1 {
    top: calc(50% - 11px);
    left: -10px;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 5px blue;
}

.timeline-block .indicator2 {
    top: calc(50% - 20px);
    left: 0px;
    height: 40px;
}