.tree-container {
    min-height: 30px;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 100;
    min-width: 30px;
}
.tree-container svg {
    max-width: calc(50vh / 3 * 4);
    max-height: 50vh;
    width: 600px;
    height: 450px;
}

.tree-container path {
    stroke-width: 1px;
}

.tree-container .branch path {
    fill: #a6620d;
    stroke: #a6620d;
}

.tree-container .leaf path {
    fill: #8fda1e;
    stroke: yellow;
    transition: fill 1s ease, stroke 1s ease, opacity 1s ease;
    opacity: 1;
}

/* spring */

.tree-container .spring .leaf path {
    fill: #8fda1e;
    stroke: yellow;
}

/* summer */

.tree-container .summer .leaf path {
    fill: red;
    stroke: yellow;
}

/* autumn */

.tree-container .autumn .leaf path {
    fill: yellow;
    stroke: yellow;
}

/* winter */

.tree-container .winter .leaf path {
    fill: white;
    stroke: white;
    opacity: 0;
}

.tree-container .winter .branch path {
    fill: black;
    stroke: black;
}