.header {
    font-size: 40px;
    font-family: cursive;
    padding: 10px 0;
}

.header img {
    height: 70px;
    vertical-align: middle;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    padding: 5px;
}

table th:nth-child(2) {
     width: 100px;
}

table tr td {
    margin: 0;
    padding: 5px;
    min-width: 50px;
}

table tbody tr:nth-child(odd) {
    background: rgba(181, 166, 236, 0.5);
}

table tbody tr:hover {
    background: blue;
    color: white;
}

table img {
    height: 20px;
}