.Tabs .TabsItemList {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background: pink;
}

.Tabs .TabsItemList .TabsItem {
    cursor: pointer;
    list-style-type: none;
    padding: 3px 20px;
    text-transform: capitalize;
}

.Tabs .TabsItemList .TabsItem:hover {
    background: yellow;
}

.Tabs .TabsItemList .TabsItem.active {
    position: relative;
    background: yellow;
    color: blue;
    font-weight: bold;
}

.Tabs .TabsBody {
    padding-top: 5px;
    border-top: 1px solid #fff;
}